.productcasePageContainer {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  display: inline-block;
}

button {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
}

body {
  // min-width: 320px;
  overflow-x: hidden;
  min-height: 100vh;
}

.productcasePage {
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;color: #544d46;

}
