@import "fonts";
@import "vars";
@import "mixins";
@import "global";
@import "libs";

.productcaseItem {
  margin-top: 103px;
  margin-bottom: 64px;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid #544d46;
  }

  &__images {
    display: flex;
    flex: none;
    margin-right: 32px;
  }
  &__info {
    padding-top: 64px;
  }

  &__images-thumbnails {
    margin-right: 32px;
    img {
      object-fit: cover;
      background-position: center center;
      background-repeat: no-repeat;
      width: 70px;
      height: 88px;
      margin-bottom: 8px;
      &.active {
        border: 1px solid #544d46;
      }
    }
  }
  &__images-picture {
    img {
      width: 478px;
      height: 672px;
    }
  }

  &__info-box {
    display: flex;
    justify-content: space-between;
  }
  &__benefits {
    display: flex;
    flex: none;
    img {
      width: 70px;
      height: 64px;
      object-fit: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 27px;
    max-width: 380px;
    width: 100%;
    padding-right: 10px;
    span {
      display: block;
      font-weight: 700;
    }
  }

  &__tags {
    display: flex;
    margin-bottom: 48px;
    flex-wrap: wrap;
  }
  &__tag {
    padding: 8px;
    font-size: 16px;
    line-height: 16px;
    opacity: 0.5;
    color: #544d46;
    border: 1px solid #544d46;
    margin-bottom: 5px;
    margin-left: 8px;
    span {
      font-weight: 600;
    }
  }

  &__bets {
    display: flex;
    flex-wrap: wrap;
  }
  &__bets-button {
    background-color: #111;
    padding: 28px 62px;
    color: #fff;
    font-size: 20px;
    line-height: 16px;
    border-radius: 0;
  }
  &__bets-info {
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    color: #544d46;
    text-align: center;
    background-color: rgba(84, 77, 70, 0.1);
    padding: 6px 26px;
    margin-right: 16px;
    margin-bottom: 6px;
    span {
      margin-top: 3px;
      text-align: center;
      font-size: 16px;
      line-height: 16px;
      color: #544d46;
      font-weight: 400;
      display: block;
    }
  }
}

.productcaseInfo {
  margin-bottom: 69px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__box-block {
    margin-bottom: 53px;
  }
  &__col {
    max-width: 376px;
    padding-right: 15px;
    min-width: 300px;
  }
  &__box {
    max-width: 682px;
  }
}

.productcaseSimilar {
  margin-bottom: 125px;
  
  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 274px);
    grid-gap: 32px;
  }
  &__item {
  }
  &__item + .productcaseSimilar__item {
    margin-left: 32px;
  }

  &__item-image {
    height: 376px;
    width: 274px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
  }
  &__item-name {
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #544d46;
    margin-bottom: 16px;
  }
  &__item-price {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #544d46;
  }
}

@import "media";
